.dashboard_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #000000cf;
  width: 75vw;
  margin: auto;
  border-radius: 0.7rem;
  /* margin-left: -1re; */
}

.dashboard_content {
  width: 67vw;
  display: flex;
  border-radius: 0.7rem;
  padding: 0rem 0rem 8rem 7rem;
}

.dashboard_content h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

@media only screen and (max-width: 1200px) {
  .dashboard_container {
    width: 75vw;
  }
}

@media only screen and (max-width: 966px) {
  .dashboard_container {
    width: 85vw;
  }
}

@media only screen and (max-width: 666px) {
  .dashboard_container {
    width: 95vw;
  }
}
