.nav {
  display: flex;
  justify-content: space-between;
  background: rgb(17, 17, 17);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 5;
}

.nav__logo {
  height: 9rem;
  transition: all 0.3s;
}

.nav_div {
  display: flex;
}

@media only screen and (max-width: 730px) {
  .nav {
    padding: 0 1rem;
  }
  .nav__item {
    font-size: 1.2rem;
  }
  .nav__logo {
    height: 5rem;
  }
}

@media only screen and (max-width: 730px) {
  .nav {
    padding: 0 1rem;
  }
  .nav__item {
    font-size: 1.2rem;
  }
  .nav__logo {
    height: 5rem;
  }
}
